/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

/* Aplica box-sizing: border-box a todos los elementos y sus pseudoelementos before y after.
   Esto hace que el ancho y alto de los elementos incluyan el padding y el border. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Elimina los márgenes por defecto de todos los elementos. */
* {
  margin: 0;
}

/* Establece la altura de línea del body y mejora la suavidad de las fuentes. */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Hace que img, picture, video, canvas y svg sean bloques y no excedan el 100% de su contenedor padre. */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Asegura que input, button, textarea y select hereden la fuente del elemento padre. */
input,
button,
textarea,
select {
  font: inherit;
}

/* Evita problemas de desbordamiento del texto en párrafos y encabezados. */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 
     Extra resets for web apps
   */

/* Elimina el padding por defecto y asegura que los elementos hereden la fuente del elemento padre. */
* {
  padding: 0;
  font: inherit;
}

/* Establece que el html y el body ocupen toda la altura disponible. */
html,
body {
  height: 100%;
}
