/* Header */
.header {
  padding: 1.5rem 2rem;
  max-width: 80rem;
  margin-inline: auto;
}

.header > * {
  display: inline-block;
}

.header__logo {
  margin: 0;
  margin-right: 4rem;
}

.header__logo a {
  color: var(--violet-700);
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.875rem;
  /* 100% */

  text-decoration: none;
}

.header__logo:hover a {
  color: var(--violet-700);
}