/* Hero */

.hero {
    background-color: #f5f5f5;
  }
  
  .container {
    padding-inline: 2rem;
    max-width: 80rem;
    margin-inline: auto;
  }
  
  .hero__content {
    max-width: 42rem;
  }
  
  .hero__title {
    margin-top: 0;
    margin-bottom: 1.5rem;
  
    color: var(--neutral-900);
    font-family: "Familjen Grotesk", sans-serif;
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 3.75rem; /* 100% */
  }
  
  .hero__lead {
    margin-block: 1.5rem;
  
    font-size: 1.25rem;
    line-height: 2rem; /* 160% */
  }
  
  .hero--center {
    text-align: center;
    margin-inline: auto;
  }